<div class="container-fluid">
    <div class="floating-button">
        <button mat-flat-button type="button" class="button_image_style" (click)="onAddEmployee()">
            <img alt="add employees" class="img-fluid" src="../../../assets/add.png" />
        </button>
    </div>

    <section class="card-container">
        <ng-container>
            <div class="no_records_container">
                <img class="img-fluid" src="../../../assets/noemployees.png" alt="No Records Found Image" />
            </div>
        </ng-container>
    </section>
</div>